<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Our Services</title>
    <link rel="icon" type="image/x-icon" href="/images/peas.png">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/services.css"
</head>
<body>
  <header>
    <a id="logo" href="/home">الإدارة التونسية</a>
     <nav>
       <ul>
         <li><a href="/home" >Home</a></li>
         <li><a href="/services" id="current">Services</a></li>
         <li><a href="/contact">Contact us</a></li>
     </ul>
   </nav>
 </header>
 <section class="page_404">
  <div class="container">
    <div class="row"> 
    <div class="col-sm-12 ">
    <div class="col-sm-10 col-sm-offset-1  text-center">
    <div class="four_zero_four_bg">
    </div>
    
    <div class="contant_box_404">
    <h1 class="h2">
    Sorry, we don't do that sh*t here. Where do you think you are ?<br> America ?
    </h1>
    
    <h3>Please come in person so we can tell you "أرجع غدوة" to your face</h3>
    
  </div>
    </div>
    </div>
    </div>
  </div>
</section>
</body>
</html>